*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: 'IBM Plex Mono', monospace;
    background-color: black;
}

img  {
    width: 400px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 0;
}

h2 {
    color: white;
}

h3 {
    color: #959595;
}

p {
    width: 100%;
    max-width: 80%;
    text-align: center;
    line-height: 1.6;
    margin: 21px auto;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #111;
}

.section:nth-child(odd) {
    background-color: #7545ff;
}

.makeMeAppear {
    opacity: 0;
    animation: makeMeAppear .8s ease 1s forwards;
    display: block;
}

@keyframes makeMeAppear {
    0% { 
        opacity: 0;
        transform: translateY(55px);
    }
    
    100% { 
        opacity: 1;
        transform: translateY(0);
    }
}

code {
    width: 100%;
    padding: 21px;
    margin: 0 auto;
    background-color: #282a36;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    border-radius: 5px;
}

.wrap {
    max-width: 100%;
    width: 800px;
    margin: 0 auto 32px;
}

.section--center {
    justify-content: center;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons span {
    display: inline-block;
    margin: 21px 8px;
}

.creds {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 12px;
    display: block;
    text-decoration: none;
}